body {
 margin: 0;
 padding: 0;
 font-family: sans-serif;
 background: url('https://upload.wikimedia.org/wikipedia/commons/f/fc/Helsingborg%2C_Kaffeg%C3%B6ken%2C_1961.jpg');
 background-repeat: no-repeat;
 background-size: cover;
}

.container{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 width: 400px;
 background: #fff;
 padding: 40px;
 box-sizing: border-box;
 border: 1px solid rgba(0, 0, 0, .1);
 box-shadow: 0 5px 10px rgba(0, 0, 0,.2);
}

.container h2 {
 margin: 0 0 40px 0;
 padding: 0;
 color: #f7497d;
 /*text-transform: uppercase;*/
}

.mds-text-field__input{
 padding: 10px 0px;
 margin-bottom: 30px;
 /*background: grey;*/
}

/* input och annadra elementer */
.mds-text-field__input{
 width: 100%;
 box-sizing: border-box;
 box-shadow: none;
 outline: none;
 border: none;
 border-bottom: 1px solid #999;
}
/* cursor:pointer*/
.mds-text-field{
 position: relative;

}

.mds-text-field__label{
 position: absolute;
 font-family: 'roboto';
 top: 10px;
 left: 0px;
 color: #999;
 transition: .5s;
 /*undvik att man kan select label*/
 pointer-events: none;
}

/*här modifiera label läget när label has en syskon-input med focus*/
.mds-text-field__input:focus ~ .mds-text-field__label{
 top: -12px;
 left: 0;
 color: #f7497d;
 font-size: 12px;

}
