body {
 margin: 0;
 padding: 0;
 font-family: 'Roboto',sans-serif;
 background: url('https://c1.staticflickr.com/5/4432/36490758486_87af08e493_b.jpg');
 background-repeat: no-repeat;
 background-size: cover;
}

/*****************************************************/
/*****************************************************/

.container{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 width: 400px;
 background: #fff;
 padding: 30px;
 box-sizing: border-box;
 border: 1px solid rgba(0, 0, 0, .1);
 box-shadow: 0 5px 10px rgba(0, 0, 0,.2);
}

.container h2 {
 font-size: 2em;
 width: 280px;
 box-sizing: border-box;
 margin: 0 auto;
 padding-bottom: 30px;
 color: #f7497d;
 /*text-transform: uppercase;*/
}

form{
 box-sizing: border-box;
 margin: 0 auto;
 width: 280px;
}

/*****************************************************/
/*****************************************************/

.mds-text-field__input{
 
 margin-bottom: 0px;
 background: #DCDCDC;
 
}

/* input och annadra elementer */
.mds-text-field__input{
 width: 100%;
 height: 100%;
 padding-left: 12px;
 padding-top: 26px;
 font-size: 16px;
 box-sizing: border-box;
 box-shadow: none;
 outline: none;
 border: none;
 border-radius: 4px 4px 0px 0px;
 border-bottom: 1px solid #999;
}
/* cursor:pointer*/
.mds-text-field{
 position: relative;
 width: 280px;
 height: 56px;
 padding-bottom: 10px;
 


}

.mds-text-field__label{
 position: absolute;
 font-family: 'Roboto', cursive;
 font-size: 16px;
 top: 20px;
 left: 12px;
 color: #999;
 transition: .5s;
 /*undvik att man kan select label*/
 pointer-events: none;
}

/*här modifiera label läget när label has en syskon-input med focus*/
/*med :valid (det går när finns någon value under regel) behåller man label flyttat*/
.mds-text-field__input:focus ~ .mds-text-field__label,
.mds-text-field__input:valid ~ .mds-text-field__label{
 top: 8px;
 left: 12px;
 color: #f7497d;
 font-size: 12px;
 font-weight: bold;
}
.mds-text-field__input:focus,
.mds-text-field__input:valid{
 border-bottom: 2px solid #f7497d;
}

/*****************************************************/
/*****************************************************/
.mds-switch{
 padding-top: 20px;
}

.mds-switch__input{
 position: relative;
 width: 36px;
 height: 16px;
 -webkit-appearance: none;
 background: #c6c6c6;
 outline: none;
 border-radius: 8px;
 transition: .5s;
}
.mds-switch__input:checked{
 background: #f7497d87;
}
.mds-switch__input:before{
 content: '';
 position: absolute;
 width: 16px;
 height: 16px;
 border-radius: 8px;
 top: 0px;
 left: 0px;
 background: #909090;
 transform: scale(1.2);
 transition: .5s;
}
.mds-switch__input:checked:before{
 left: 20px;
 background: #f7497d;

}
.mds-switch__label{
 position: relative;
 top: -5px;
 left: 10px;
 color: black;
}

/*****************************************************/
/*****************************************************/
.mds-checkbox{
 padding-top: 20px;

}

.mds-checkbox__input{
 position: relative;
 width: 24px;
 height: 24px;
 -webkit-appearance: none;
 outline: 0;
 border: 1px solid #909090;
 color: black;

 transition: 0.5s;
}

.mds-checkbox__input:checked{
background: #f7497d;
border: 1px solid #f7497d;

}

.mds-checkbox__input:before{
 position: absolute;
 content:'';
 left: 5px;
 top: 1px;


 transition: .5s;


}

.mds-checkbox__input:checked:before{
 content: '\2714';
 transform: scale(1.5);

 color: white;
 margin: 0 ;
 padding: 0;
}

.mds-checkbox__label{
 position: relative;
 pointer-events: none;
 top: -10px;
 left: 8px;

}
/*****************************************************/
/*****************************************************/




/*****************************************************/